
$darkviolet: rgb(88 28 73);
$white: rgb(243, 243, 243);
$pinku: rgb(230, 103, 173);
$black: rgb(0, 0, 0);
$celeste: rgb(213 235 255) ,


 $paleta(
    'darkviolet': rgb(88 28 73),
      'pinku': rgb(230, 103, 173),
'white': rgb(243, 243, 243),
'black': rgb(0, 0, 0) 
'celeste':rgb(213 235 255)
 );
 
 $brand:'dsc';